.header {
    background: white; /* Белый фон */
    color: #001529; /* Темно-синий цвет текста */
    padding: 0 24px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тень для выделения */
    border-bottom: 1px solid rgba(0, 159, 224, 0.2); /* Синяя нижняя граница */
    position: relative;
    z-index: 100;
}

.header-logo {
    height: 100px;
    width: auto;
    /* Логотип*/
}

.header h1 {
    font-size: 24px;
    font-weight: 600;
    color: #001529; /* Темно-синий цвет , если вздумаете текстов накидать*/
    margin: 0;
}

@media (max-width: 768px) {
    .header {
        height: 70px;
        padding: 0 16px;
    }
    
    .header h1 {
        font-size: 20px;
    }
    
    .header-logo {
        height: 40px;
    }
}